@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-bg text-on-surface font-inter;
  }

  /* Scrollbar override */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-surface-highest rounded-full;
  }
}
